{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'common/styles.css' %}">
  <link rel="stylesheet" href="{% static 'common/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'common/bootstrap-icons/font/bootstrap-icons.min.css' %}">
  <script src="{% static 'common/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'common/jquery/jquery-3.7.0.min.js' %}"></script>

  <title>{% block title %}Tr. Canora's Classes{% endblock %}</title>

  <script src="https://unpkg.com/jparticles/browser/jparticles.all.js"></script>

  {% block script %}{% endblock %}
  {% block style %}{% endblock %}

  <script>
      function collapse() {
          $(".collapse").each(function (i) {
              let bsCollapse = new bootstrap.Collapse(this, {
                  "toggle": false
              })
              bsCollapse.hide()
          })
      }

      {% if qr %}
          $(function () {
              try {
                  const wakeLockPromise = navigator.wakeLock.request("screen");
              } catch (err) {
                  // the wake lock request fails - usually system related, such being low on battery
                  alert(`${err.name}, ${err.message}`);
              }
          })
      {% endif %}
  </script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-3 nav-grad">
  <a class="navbar-brand fw-semibold" href="#" onclick="collapse()">Tr. Canora's Classes</a>
  <a class="navbar-brand fw-semibold ms-auto me-0" href="#" onclick="collapse()">2024 Curriculum Night</a>
</nav>
<div id="main" style="position:fixed; height: 100%; width: 100%; z-index: -9999;"></div>
<main class="container" style="margin-top: 68px;">
  {% block content %}{% endblock %}
  <div style="height: 10vh"></div>
</main>
</body>
</html>