/* General */

td, th {
    vertical-align: middle !important;
}

.card {
    margin-bottom: 12px;
}

/* Gradients */
.animgrad {
    background: linear-gradient(-45deg, #3172ff, #23d5ab, #23a6d5, #15cc39);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.btn-grad {
    background: linear-gradient(-45deg, #ff37e4, #e99312, #f0495d, #672bcb);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.btn-grad-positive {
    background: linear-gradient(-45deg, #15cc39, #23a6d5, #23d5ab, #3172ff);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.btn-grad-negative {
    background: linear-gradient(-45deg, #ff5c5c, #f86f24, #d92121, #ff8319);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.bigtext {
    font-weight: bolder;
    font-size: min(30vh, 30vw);
}

.errorgradtext {
    background-image: linear-gradient(-45deg, #ff5c5c, #f86f24, #d92121, #ff8319);
    --bs-text-opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.happygradtext {
    background-image: linear-gradient(-45deg, #ff37e4, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --bs-text-opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.birthdaytext {
    background-image: linear-gradient(-45deg, #FF5757, #FF7710, #F5C000, #38CA3F, #16A6FF, #FF5757);
    --bs-text-opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 15vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Line Around */
.linearound:after,
.linearound:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.linearound {
    display: flex;
    flex-direction: row;
}

.linearound:before {
    margin-right: 10px
}

.linearound:after {
    margin-left: 10px
}

/* Buttons */
.btn-circle {
    border-radius: 60px !important;
    font-size: 1.5em !important;
    text-align: center !important;
    height: 64px !important;
    width: 64px !important;
}

.img-circle {
    border-radius: 50%;
}