Django~=5.2.1
mysqlclient~=2.2.6
google-auth~=2.37.0
requests~=2.32.3
canvasapi @ git+https://github.com/dcanora-lhps/canvasapi.git@688b037e163b933eea79613b8426a15b9fc53c22
Pillow~=10.4.0
spotipy~=2.25.1
django-crontab~=0.7.1
tqdm~=4.66.5
sorl-thumbnail~=12.11.0
django-oauth-toolkit~=2.4.0
openai~=1.98.0
markdown2[all]~=2.5.3
Pygments~=2.19.1
beautifulsoup4~=4.13.4
