Django~=5.2.13
mysqlclient~=2.2.8
google-auth~=2.40.3
requests~=2.33.1
canvasapi @ git+https://github.com/dcanora-lhps/canvasapi.git@b2fa7a7102743767c5a519c04990cf7467b76d23
Pillow~=12.2.0
spotipy~=2.26.0
django-crontab~=0.7.1
tqdm~=4.67.3
sorl-thumbnail~=12.11.0
django-oauth-toolkit~=2.4.0
openai~=2.33.0
markdown2[all]~=2.5.5
Pygments~=2.20.0
beautifulsoup4~=4.14.3