{% load static %}

<table class="my-4 w-100">
    <tr>
        <td class="w-100" style="position:relative;">
            <img id="music-art" class="w-100" src="{{ song.album.images.0.url }}">
            <img style="display:none; position:absolute; left: 0; right: 0; width: 100%;z-index: 1;" src="{% static 'app/splatter.png' %}">
        </td>
    </tr>
    <tr>
        <td class="text-center" style="font-size: 2em">
            <p><b class="marker"><span id="music-song">{{ song.name }}</span></b></p>
            <p><b class="marker"><span id="music-artist">{{ song.artists.0.name }}</span></b></p>
        </td>
    </tr>
</table>
