{% extends 'app/base.html' %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"
          integrity="sha512-8ExARjWWkIllMlNzVg7JKq9RKWPlJABQUNq6YvAjE/HobctjH/NA+bSiDMDvouBVjp4Wwnf1VP1OEv7Zgjtuxw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
      const socket = io();  // defaults to same host + port as page

      socket.on("connect", () => {
          console.log("Connected to server:", socket.id);
          socket.emit("init_admin");
          socket.emit("request_questions");
      });

      socket.on("players_list", (data) => {
          $("#players-table").html(data.html)
      });

      socket.on("questions_list", (data) => {
          console.log(data)
          $("#question-select-container").html(data.questions)
      });

      function change_score(pid, delta) {
          socket.emit("change_score", {pid: pid, amount: delta});
      }

      function question() {
          let qid = $("#question-select").val();
          socket.emit("question", {qid: qid});
      }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h2>Actions</h2>

          <a class="btn btn-primary w-100 mt-2" href="{% url 'gaime_players' %}">Setup Players</a>
          <a class="btn btn-secondary w-100 mt-2" onclick="socket.emit('title')">Title Card</a>
          <a class="btn btn-info w-100 mt-2" onclick="socket.emit('intro')">Group Instructions</a>
          <a class="btn btn-danger w-100 mt-2" onclick="socket.emit('instructions')">Instructions</a>
          <a class="btn btn-grad w-100 mt-2" onclick="socket.emit('dev')">Dev</a>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h2>Question</h2>
          <div id="question-select-container">

          </div>
          <a class="btn btn-success w-100 mt-2" onclick="question()">Question</a>
          <a class="btn btn-danger w-100 mt-2" onclick="socket.emit('review')">Answer</a>
          <a class="btn btn-info w-100 mt-2" onclick="socket.emit('scores')">Scoreboard</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="card">
        <div class="card-body">
          <h2>Players</h2>
          <div id="players-table"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}