{% extends 'app/base.html' %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"
          integrity="sha512-8ExARjWWkIllMlNzVg7JKq9RKWPlJABQUNq6YvAjE/HobctjH/NA+bSiDMDvouBVjp4Wwnf1VP1OEv7Zgjtuxw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
      const socket = io();  // defaults to same host + port as page

      socket.on("connect", () => {
          console.log("Connected to server:", socket.id);
          socket.emit("init_tv");
      });

      socket.on("tts_audio", (data) => {
          console.log("Received audio");

          const hex = data.audio;
          const byteArray = new Uint8Array(hex.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
          const blob = new Blob([byteArray], {type: "audio/mpeg"});
          const url = URL.createObjectURL(blob);

          const audio = document.getElementById("audioPlayer");
          audio.src = url;
          audio.play();
      });

      socket.on("screen", (data) => {
          console.log("Received screen update:", data);

          if (data.html) {
              $("#content").html(data.html);
          }
      })
  </script>

  <style>
      body {
          background-color: #222;
          color: white;
      }

      .container {
          display: none;
      }

      .titletext {
          font-size: 120pt;
          font-family: 'Roboto', sans-serif;
      }

      .tvtext {
          font-size: 75pt;
      }

      .section {
          height: 100vh;
          width: 100vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
  </style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content-full %}
  <audio id="audioPlayer"></audio>

  <div id="content" class="section"></div>
{% endblock %}