{% extends 'app/base.html' %}

{% load slides_filename %}

{% block content %}
  <div class="row">
    {% for course, modules in decks.items %}
      {% if course == 'CS1' %}
        <h1>Computer Science 1</h1>
      {% elif course == 'CS2' %}
        <h1>Computer Science 2</h1>
      {% elif course == 'speech' %}
        <h1>Public Speaking</h1>
      {% endif %}
      {% for module, decks in modules.items %}
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ module | format_filename }}</h2>
              <table>
                {% for deck in decks %}
                  {% if deck %}
                    <tr>
                      <td>
                        <a href="{% url 'slides' course module forloop.counter %}" class="font-monospace" target="_blank">{{ deck | format_filename }}</a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}