{% extends 'app/base.html' %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h2 class="mb-4">Generate Manual Wrapped</h2>

      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="canvas_id" class="form-label">Canvas ID</label>
          <input type="number" class="form-control" id="canvas_id" name="canvas_id"
                 placeholder="e.g. 3345" required autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Generate Wrapped</button>
      </form>

      {% if manual_wrappeds %}
        <h4 class="mt-5 mb-3">Manually Generated Wrappeds</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Canvas ID</th>
            <th>Direct Link</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for w in manual_wrappeds %}
            <tr>
              <td>{{ w.student.full_name }}</td>
              <td>{{ w.student.id }}</td>
              <td><a href="{{ w.demo_url }}">{{ w.demo_url }}</a></td>
              <td><a class="btn btn-grad" href="{% url 'admin:wrapped_wrapped_change' w.student.id %}">Edit</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
