{% extends 'app/base.html' %}

{% block content %}
  <h2 class="text-center">
    <a href="{% url 'wrapped_teacher_csv' %}" class="btn btn-grad">Download CSV</a>
  </h2>
  <table class="table table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>URL</th>
      <th>Key</th>
      <th>Kulaqua</th>
      <th>NC</th>
      <th>New</th>
      <th>Edit</th>
    </tr>
    {% for tw in data %}
      <tr>
        <td>{{ tw.fname }}</td>
        <td>{{ tw.email }}</td>
        <td><a href="{{ tw.url }}">{{ tw.url }}</a></td>
        <td>{{ tw.key }}</td>
        <td>{{ tw.kulaqua }}</td>
        <td>{{ tw.nc }}</td>
        <td>{{ tw.new_to_ccc }}</td>
        <td><a href="{% url 'admin:wrapped_teacherwrapped_change' tw.teacher_id %}">Edit</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}