{% extends 'app/base.html' %}

{% block script %}
  <script>
      function select(sug_id) {
          $.post("{% url 'spotify_add' %}", {"id": sug_id})
              .then(function () {
                  $("#tr-" + sug_id).remove()
              })
      }
      
      function listen(sug_id) {
          $.post("{% url 'spotify_queue' %}", {
              "id": sug_id
          })
      }
  </script>
{% endblock %}

{% block content %}
  <table class="table table-striped table-hover">
    {% for sug in suggestions %}
      <tr id="tr-{{ sug.id }}">
        <td><img style="height: 100px" src="{{ sug.data.album.images.0.url }}"></td>
        <td><b>{{ sug.data.name }}</b></td>
        <td><b>{{ sug.data.artists.0.name }}</b></td>
        <td>{{ sug.student.name }}</td>
        <td>{{ sug.student.all_courses_str | linebreaksbr }}</td>
        <td><a href="#" class="btn btn-grad" onclick="select('{{ sug.id }}'); return false;">Confirm</a></td>
        <td><a href="#" class="btn btn-grad-positive" onclick="listen('{{ sug.id }}'); return false;">Listen</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}