{% extends 'app/base.html' %}
{% load thumbnail %}

{% block style %}
  <style>
      img.propic {
          height: 50px;
          width: 50px;
          object-fit: cover;
      }

      .invisible-button {
          background: transparent;
          border: none !important;
      }
  </style>
{% endblock %}

{% block content %}
  {% for courses in semesters %}
    <h1 class="linearound">Semester {{ forloop.counter }}</h1>
    <div class="row">
      {% for course in courses %}
        <div class="col-12 col-md-6 col-lg-4">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>{{ course.name }}</th>
            </tr>
            </thead>

            <tbody>
            {% for student in course.students_sorted %}
              <tr>
                <td style="display: flex; justify-content: space-between; align-items: center">
                  <a href="{% url 'admin:app_student_change' student.id %}">
                    {{ student.full_name }}
                  </a>
                  {% if student.picture %}
                    {% thumbnail student.picture "50x50" crop="center" as im %}
                    <button class="invisible-button float-end" popovertarget="popover-{{ course.id }}-{{ student.id }}">
                      <img class="img-circle propic" src="{{ im.url }}">
                    </button>
                    {% endthumbnail %}

                    <div id="popover-{{ course.id }}-{{ student.id }}" popover>
                      <img src="{{ student.picture.url }}" loading="lazy"
                           style="max-width: 80vw; max-height: 80vh; min-width: 400px; min-height: 400px">
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          <tfoot>
          <tr>
            <td class="text-center">{{ course.students_sorted.count }} Students</td>
          </tr>
          </tfoot>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}