<tr>
  <td>{{ cred.student.full_name }}</td>
  <td><a href="{{ cred.url }}" target="_blank">{{ cred.subdomain }}</a></td>
  <td>
    {% if cred.provisioned_at %}<span class="badge bg-success">provisioned</span>
    {% else %}<span class="badge bg-secondary">not provisioned</span>{% endif %}
  </td>
  <td>
    {% if cred.ssl_installed %}<span class="badge bg-success">SSL</span>
    {% else %}<span class="badge bg-warning text-dark">no SSL</span>{% endif %}
  </td>
  <td>
    <details>
      <summary>Click Here to Reveal</summary>
      {{ cred.password }}
    </details>
  </td>
  <td>
    <details>
      <summary>Click Here to Reveal</summary>
      <pre><code>{% include 'app/webserver/_sftp_json.html' with name="CS 1 Server" host=sftp_host port=sftp_port username=cred.username remote_path=cred.remote_path password=cred.password %}</code></pre>
    </details>
  </td>
</tr>