{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h1>AI in Assessment - Digital Goodie Bag</h1>
          <p><a href="">Click here to view today's slides</a></p>
          <h3>Template</h3>
          <code>
            This is a formative assessment about...
            Today we learned about...
            Chat with the student about...
            <br><br>
            Ask them to...
            They should...
            <br><br>
            Briefly praise students' successes, and attempt to resolve any gaps in understanding or misconceptions from
            today's lesson.
          </code>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>Math Example</h2>
          <p>This is a formative assessment about multiplying binomials. Today we learned the FOIL method. Chat with the
            student about the sample problem (x+3)*(2x+3y), which should produce the answer 2x^2 + 3xy + 6x + 9y.</p>

          <p>Ask them to walk you through how they would solve it. They should use the FOIL method without prompting.
            Briefly praise students' successes, and attempt to resolve any gaps in understanding or misconceptions from
            today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-XCWN">Try it Out!</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>Physics Example</h2>
          <p>This is a formative assessment about battery-resistor circuits. Today we learned about how to calculate
            voltage drop across a resistor using V=IR. Chat with the student about a sample circuit with a 12 volt
            battery, a 2 ohm lightbulb, and a 1 ohm resistor.</p>

          <p>Ask them to walk you through how they would calculate the voltage drop across the lightbulb. They should
            calculate the total resistance, find the current, then use V=IR to find that the voltage across the
            lightbulb is 8 volts. Briefly praise students' successes, and attempt to resolve any gaps in understanding
            or misconceptions from today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-5V47">Try it Out!</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>English Example</h2>
          <p>This is a formative assessment about rhetoric. Today we learned about pathos, logos, and ethos. Chat with
            the student about a fictitious argument that our school should stop forcing students to wear uniforms.</p>

          <p>Ask them to craft an argument centered around pathos, logos, and ethos. They should use each strategy
            unambiguously and effectively. Briefly praise students' successes, and attempt to resolve any gaps in
            understanding or misconceptions from today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-S48A">Try it Out!</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>History Example</h2>
          <p>This is a formative assessment about the Boston Tea Party. Today we learned about the events of the 1773
            protest (disguised colonists dumping tea into the harbor), and the consequences, including the British
            response with the Coercive Acts and the event's role in leading to the American Revolution. Chat with the
            student about this period in American history.</p>

          <p>Ask them to take a stance as a patriot or a loyalist, and back up the moral correctness of their side's
            response to the Boston Tea Party. They should use well-informed historical justification and make a coherent
            argument for their side. Briefly praise students' successes, and attempt to resolve any gaps in
            understanding or misconceptions from today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-IN19">Try it Out!</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>Computer Science Example</h2>
          <p>This is a formative assessment about conditionals in Python. Today we learned about if/elif/else
            statements. Chat with the student about a simple sample problem: categorizing ages into child, teen, and
            adult.</p>

          <p>Ask them to walk you through how the sample code would execute with different inputs. They should trace
            through the statement from top to bottom. Briefly praise students' successes, and attempt to resolve any
            gaps in understanding or misconceptions from today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-EAYW">Try it Out!</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>Leadership Example</h2>
          <p>This is a formative assessment about servant leadership. Today in our unit about leadership styles, we
            learned about servant leadership and talked at length about the broad points made in Simon Sinek's book
            Leaders Eat Last. Students have not read the book. Chat with the student about this style of leadership.</p>

          <p>Ask them to use a lens of servant leadership to solve some low-stakes hypothetical scenarios that a middle
            schooler could plausibly encounter. They should use principles of servant leadership to inform their
            response. Briefly praise students' successes, and attempt to resolve any gaps in understanding or
            misconceptions from today's lesson.</p>

          <p><a class="btn btn-grad" href="https://student.schoolai.com/dot/spaces/join?code=AWSM-LYX5">Try it Out!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}