{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#23d5ab">
  <link rel="icon" href="{% static 'app/favicon.svg' %}">

  <link rel="stylesheet" href="{% static 'common/styles.css' %}">
  <link rel="stylesheet" href="{% static 'common/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'common/bootstrap-icons/font/bootstrap-icons.min.css' %}">
  <script src="{% static 'common/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'common/jquery/jquery-3.7.0.min.js' %}"></script>

  <title>{% block title %}Tr. Canora's Class{% endblock %}</title>

  <script>
      function refresh_nowplaying() {
          $("#nowplaying").html("Loading...")

          $.get("{% url 'now_playing' %}").then(function (response) {
              $("#nowplaying").html(response)
          })

      }

      $(function () {
          $("#fab").on('show.bs.dropdown', function (evt) {
              refresh_nowplaying()
          })

          $(".animgrad").css("animation-delay", `-${Date.now()}ms`);
          $(".btn-grad-positive").css("animation-delay", `-${Date.now()}ms`);
          $(".btn-grad-negative").css("animation-delay", `-${Date.now()}ms`);
          $(".btn-grad").css("animation-delay", `-${Date.now()}ms`);
      })
  </script>

  {% block script %}{% endblock %}
  {% block style %}{% endblock %}

  <script defer data-domain="tr.canora.us"
          src="https://a.canora.us/js/script.outbound-links.pageview-props.tagged-events.js"></script>

</head>
<body>
{% block nav %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-3 animgrad">
    <a class="navbar-brand fw-semibold" href="{% url 'index' %}">Tr. Canora's Class Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          {% if tutor_available %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'chat_home' %}">Tutor</a>
            </li>
          {% endif %}
          {% if request.user.is_staff %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin' %}">Admin</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin:index' %}">DB</a>
            </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
{% block content-full %}{% endblock %}
{% block remove-main %}
<main class="container" style="margin-top: 68px;">
  {% block content %}{% endblock %}
  <div style="height: 10vh"></div>

  {% if now_playing_available %}
    <div class="position-fixed bottom-0 end-0 m-2 m-md-4 m-lg-5" id="fab">
      <button type="button" class="btn btn-grad btn-lg btn-circle hide-toggle text-center" data-bs-toggle="dropdown"
              aria-expanded="false" aria-haspopup="true">
        <i class="bi bi-music-note-beamed"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" id="nowplaying" href="#">Loading...</a>
        </li>
      </ul>
    </div>
  {% endif %}
</main>
{% endblock %}

{% block modals %}{% endblock %}
</body>
</html>